<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>countJavaAPI</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
</head>
<body>
<div style="width: 1500px;height: 60vh;display: flex; flex-wrap: wrap; align-content: flex-start; margin: 0 auto">
    <div style="width: 50%;height: 100%">
        <div id="api_count" style="height: 100%;width: 100%"></div>
    </div>
</div>
<input id="ac" type="hidden" th:value="${api_count}">
</body>

<script>
    let json = JSON.parse($('#ac').val());
    let xRom = [];
    let yRom = [];
    for (const key in json) {
        xRom[xRom.length] = key;
        yRom[yRom.length] = json[key];
    }
    echarts.init(document.getElementById('api_count')).setOption({
        title: {
            text: '讨论最频繁的Java API',
            left: 'center'
        },
        xAxis: {
            type: 'category',
            data: xRom,
            axisLabel: {interval: 0,formatter: function (value) {
                    let arr = value.split(".");
                    return arr[arr.length-1]
                }
            }
        },
        yAxis: {
            type: 'value',
            axisLabel: {formatter: '{value}'}
        },
        tooltip: {
            trigger: 'axis',
            formatter: '{b}的讨论活跃度：{c}',
            axisPointer: {type: 'shadow'}
        },
        series: [{
            realtimeSort: true,
            data: yRom,
            type: 'bar',
            areaStyle: {},
            label:{show:true, position: 'top'}
        }]
    });
</script>
</html>